# Jira Server
JIRA_API_ENDPOINT=https://jira.example.com/jira
JIRA_USERNAME=abc
JIRA_PASSWORD=mypassword

# Jira Cloud
JIRA_API_ENDPOINT=https://example.atlassian.net
JIRA_USERNAME=abc@example.com
JIRA_API_TOKEN=myapitoken
