graft docs
graft src
graft tests

include README.rst
include LICENSE

include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib

include NOTICE

# added by check_manifest.py
include *.tjp
include Makefile
